body {
  background: #fecde4;
}
#game-window {
  position: relative;
  height: 640px;
  width: 360px;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  #auto-iine {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
  }
  canvas {
    cursor: pointer;
  }
}
